version: "3.8"

services:
  backend:
    build:
      context: ./backend_dart
      dockerfile: Dockerfile
    ports:
      - "9090:8080"
    networks:
      - agenda_network

  frontend:
    build:
      context: ./frontend_flutter
      dockerfile: Dockerfile
    ports:
      - "8081:80"  # Mapeamos el puerto 8081 interno de nginx al 5000 local
    depends_on:
      - backend
    networks:
      - agenda_network

networks:
  agenda_network:
    driver: bridge
